<ul class="progress-list">
  <% progresses.each do |progress| %>
    <% if progress.id.present? %>
      <i class="material-icons">
        event_note
      </i>
      <li id="progress_list_<%= progress.id %>" class="progress-content"><%= progress.content %></br><%= progress.content_time %><%= link_to '削除', progress_path(progress), method: :delete, remote: true, class: 'btn btn-danger btn-sm' %></li>
    <% end %>
  <% end %>
</ul>

