<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
    </div>
  </div>
<% else %>
  <div class="top-image">
    <h1>快適な読書ライフを送る</h1>
    <%= link_to 'ログインへ', new_user_session_path, role: 'button',  class: 'btn btn-raised btn-primary btn-lg' %>
    <%= link_to '新規登録', new_user_registration_path, role: 'button', class: 'btn btn-raised btn-success btn-lg' %>
  </div>
<% end %>
