<h2>書籍詳細画面</h2>
<ul>
  <li>書籍名：<%= @finished_book.title %></li>
  <li>著者名：<%= @finished_book.author %></li>
  <li>処分予定日：<%= @finished_book.desposal_expired %></li>
  <li>ステータス：<%= @finished_book.status %></li>
</ul>
