.message-card {
  width: 750px;
}
.chat-box {
  margin: 30px auto;
  width: 750px;
  height: 900px;
  overflow: scroll; /*floatの解除*/
  margin-bottom: 20px;
}
.chat-face img{
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
  border-radius: 50%;
}
.chat-hukidashi {
  display: inline-block; /*コメントの文字数に合わせて可変*/
  padding: 15px 20px;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: 10px;
  position: relative; /*追記*/
  background-color: #D9F0FF; /*追記*/
}
/* ↓追記↓ */
.chat-hukidashi:after {
  content: "";
  position: absolute;
  top: 50%; left: -10px;
  margin-top: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D9F0FF transparent transparent;
}
.someone {
  background-color: #BCF5A9;
}
.someone:after {
  border-color: transparent #BCF5A9 transparent transparent;
}
.other-user {
  background-color: #dff7b7;
}
.other-user:after {
  content: "";
  position: absolute;
  top: 50%; left: -10px;
  margin-top: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #dff7b7 transparent transparent;
}
.message-form {
  width: 700px;
  margin: 20px auto;
}
.form-group > .textarea-form.form-control {
  border-top: solid 1px #d8d9ca;
  border-left: solid 1px #d8d9ca;
  border-right: solid 1px #d8d9ca;
}
.chat-user {
  padding-left: 20px;
  padding-top: 10px;
}
