.main {
  min-height: 720px;
}
div.alert {
  margin: 0;
}
ol.breadcrumb {
  margin-bottom: 0;
}
.footer-name {
  margin: 0 auto;
}
.top-image {
  background: #151515 image-url('bookshelf.jpg');
  background-size: cover;
  height: 720px;
  position: relative;
}
.top-image::before {
  content: "";
  height: 720px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}
.top-image > h1 {
  position: absolute;
  top: 30%;
  left: 22%;
  color: #fff;
  font-size: 4.2rem;
  letter-spacing: 5px;
  opacity: 0;
  font-family: "M PLUS 1p";
  animation: example 0.5s ease 0.5s 1 forwards;
}
@keyframes example {
  100% {
    opacity: 1;
  }
}
.login-image {
  background: #151515 image-url('library.jpg');
  background-size: cover;
  height: 300px;
  position: relative;
}
.top-image > .btn.btn-lg.btn-primary {
  position: absolute;
  top: 60%;
  left: 27%;
  display: block;
  width: 250px;
  height: 80px;
  font-size: 2rem;
  padding-top: 15px;
  letter-spacing: 2px;
  padding: auto;
  border-radius: 8%;
}
.top-image > .btn.btn-lg.btn-success {
  position: absolute;
  top: 60%;
  left: 55%;
  display: block;
  width: 250px;
  height: 80px;
  font-size: 2rem;
  padding-top: 15px;
  letter-spacing: 4px;
  padding: auto;
  border-radius: 8%;
}
.devise-card {
  width: 35rem;
  height: 35rem;
  margin: 50px auto;
}
.devise-card.new-devise-card {
  height: 45rem;
}
.devise-card.edit-devise-card {
  height: 60rem;
}
.cancel-account {
  text-align: center;
  padding: 20px;
}
.devise-card h2 {
  text-align: center;
  padding-top: 20px;
}
.test-user {
  text-align: center;
  margin-top: 40px;
}
.form-group {
  padding: 0 30px;
}
.checkbox {
  padding-left: 20px;
}
.actions {
  margin-left: 30px;
  margin-top: 20px;
}
.devise-share {
  margin-left: 30px;
}
/* ログイン画面*/
.top-card {
  margin-top: 30px;
}
.list-alert {
  color: #EA1D4E;
  font-weight: bold;
}
.top-main > .top-main-card:first-child {
  margin-top: 50px;
}
.top-main > .top-main-card:last-child {
  margin-bottom: 50px;
}
.main-card > .card-title {
  border-left: solid 5px #4946e3;
  padding-left: 8px;
}
.avater-form {
  margin: 20px auto;
}
