.devise-card {
  width: 35rem;
  height: 35rem;
  margin: 50px auto;
}
.devise-card h2 {
  text-align: center;
  padding-top: 20px;
}
.form-group {
  padding: 0 30px;
}
.checkbox {
  padding-left: 20px;
}
.actions {
  margin-left: 30px;
  margin-top: 20px;
}
.devise-share {
  margin-left: 30px;
}
