/* 検索画面 */
.unread-top {
  text-align: center;
  font-family: "M PLUS 1p";
  letter-spacing: 3px;
  margin: 20px 0;
}
.search-info {
  text-align: center;
  font-family: "M PLUS 1p";
  letter-spacing: 3px;
  margin-top: 20px;
}
.google-phrase {
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1px;
}
.search-wrapper {
  width: 450px;
  margin: 20px auto;
}
.input-search {
  width: 300px;
}
.form-search {
  display: inline-flex;
}
.google-note {
  display: block;
}
.search-link {
  text-align: center;
}
/* ここから書籍登録 */
.unread_form_wrapper {
  text-align: center;
  margin: 30px auto;
  width: 500px;
}
.select-form {
  width: 200px;
  margin: 20px auto;
}
.select-date {
  width: 150px;
  margin: 20px auto;
}

