.user-page {
  text-align: center;
}
.user-top {
  margin-top: 20px;
}
.user-avater {
  border-radius: 50%;
  border: solid 1px #f0efe1;
}
.user-info {
  padding-top: 30px;
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.user-book-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#error_explanation {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
}
.avater-now {
  text-align: center;
}
.new-avater {
  text-align: center;
}
.tag-graph {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 40px;
}
