<h2>書籍詳細画面</h2>
<ul>
  <li>書籍名：<%= @unread_book.title %></li>
  <li>著者名：<%= @unread_book.author %></li>
  <li>読破期限：<%= @unread_book.reading_expired %></li>
  <li>ステータス：<%= @unread_book.status %></li>
</ul>
